---
import { Dashboard } from "../layouts/Dashboard";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Explore">
  <Dashboard client:load>
    <div class="ml-[25rem]">
      <h1>Explore</h1>
    </div>
  </Dashboard>
</Layout>
